.DS_Store
activities/.DS_Store
protocols/.DS_Store

__pycache__

.idea/

local_data

# ignore linkml auto generated doc
docs/schema/doc-linkml-autogen
docs/schema/erdiagram-autogen.md

node_modules
package-lock.json
package.json
