site_name: ReproSchema documentation
repo_name: "ReproNim/reproschema"
repo_url: "https://github.com/ReproNim/reproschema"
copyright: "CC-BY 4.0"

# This will use Material them
theme:
  name: "material"
  language: "en"
  favicon: img/favicon.png
  logo: img/favicon_on_white.png
  features:
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
  palette:
    # Palette toggle for automatic mode
    - media: (prefers-color-scheme)
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
      # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

# Pages
nav:
  - Welcome: "index.md"
  - Introduction: "introduction.md"
  - Project structure: "project-structure.md"
  - Schema: "schema.md"
  - User Guide:
      - Create a research protocol: "user-guide/create-new-protocol.md"
      - Adopt assessments from the library: "user-guide/adopt-assessments.md"
      - Create new assessments for a protocol: "user-guide/create-new-assess.md"
      - Add a feedback section: "user-guide/setup-feedback.md"
      - Finalize the protocol: "user-guide/finalize-protocol.md"
      - Toolkit: "user-guide/tools.md"
  - Tutorial:
      - Intro: "tutorials/using-reproschema.md"
      - Create a protocol: "tutorials/create-new-protocol.md"
      - Create a new activity: "tutorials/create-new-activity.md"
      - Create new items: "tutorials/create-new-items.md"
      - Finalize the protocol: "tutorials/finalizing-the-protocol.md"
      - Translate a questionnaire: "tutorials/translating-an-activity.md"
      - Demographic information : "tutorials/collecting-demographics-information.md"
  - How to guides:
      - Validation: "how-to/validation.md"
      - Visualize: "how-to/visualize.md"

  - FAQ: "FAQ.md"
  - Contributing: "CONTRIBUTING.md"

# list of extension
markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - tables
  - toc:
      anchorlink: true

watch:
  - includes
  - linkml-schema

plugins:
  - search
  - tags
  - macros:
      module_name: macros/main
